NETWORK=
ON_CHAIN_SERVICE_ID=
NUM_AGENTS=1
TOOLS_TO_PACKAGE_HASH={"openai-gpt-3.5-turbo-instruct":"bafybeigz5brshryms5awq5zscxsxibjymdofm55dw5o6ud7gtwmodm3vmq","openai-gpt-3.5-turbo":"bafybeigz5brshryms5awq5zscxsxibjymdofm55dw5o6ud7gtwmodm3vmq","openai-gpt-4":"bafybeigz5brshryms5awq5zscxsxibjymdofm55dw5o6ud7gtwmodm3vmq"}
API_KEYS=
ETHEREUM_LEDGER_RPC_0=
ALL_PARTICIPANTS='[""]'
RESET_PAUSE_DURATION=30
SAFE_CONTRACT_ADDRESS=
MECH_ADDRESS=
USE_SUBSCRIPTION=